<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>HomeControllers</display-name>
    <servlet-name>HomeControllers</servlet-name>
    <servlet-class>vn.iotstar.controllers.HomeControllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControllers</servlet-name>
    <url-pattern>/HomeControllers</url-pattern>
  </servlet-mapping>
  <display-name>ltwebst4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ltwebst4Controllers</display-name>
    <servlet-name>Ltwebst4Controllers</servlet-name>
    <servlet-class>vn.iotstar.controllers.Ltwebst4Controllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ltwebst4Controllers</servlet-name>
    <url-pattern>/Ltwebst4Controllers</url-pattern>
  </servlet-mapping>
</web-app>